<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>

<IfModule mod_php5.c>
#    php_flag    log_errors  on
#    php_value   error_log   ./../logs/errors.log

    # supress php errors
    php_flag display_startup_errors off
    php_flag display_errors off
    php_flag html_errors off
</IfModule>